body {
    font-family: 'Ubuntu', sans-serif;
}

#navbar-logo {
    padding-top: 0px;
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}


.beach-div {
    position: relative;
    background-image: url("Night.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.on-img {
    background-color: rgb(152, 206, 231, .95);
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 20rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(209, 221, 238);
    border-radius: 5px;
}

.logo-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-header {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(0, 0, 175);
    font-weight: bolder;
    margin-bottom: 10px;
}

.searchBox {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

#price {
    margin-top:43px;
}
.align {
    text-align: center;
}
.date-input {
    margin-left: 3rem;
}

.sbt-btn {
    margin-top: 10px;
}

main {
    background-color: rgb(223, 232, 236);
}

.holder {
    padding: 2rem;
}
.airlines {
    margin: 50px;
}


.boxShadow{
    box-shadow: 3px 3px 3px 3px gray;
      -moz-box-shadow: 3px 3px 3px 3px gray;
      -webkit-box-shadow: 3px 3px 3px 3px gray;
      -khtml-box-shadow: 3px 3px 3px 3px gray;
}

.feature-desc {
    font-family: cursive;
    text-decoration-color: white;
}


/* Los Angeles */
.LA-tile:hover .los-angeles {
    opacity: 0.3;
}

.LA-tile:hover .la-caption {
    opacity: 1;
}

.los-angeles {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.la-caption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.la-text {
    color: white;
    background-color: hsl(171, 100%, 41%, .5);
    border-color: hsl(171, 100%, 41%, .5);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

/* Houston */

.hou-tile:hover .hou-t {
    opacity: 0.3;
}

.hou-tile:hover .hou-caption {
    opacity: 1;
}

.hou-t {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.hou-caption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.hou-text {
    color: white;
    background-color: hsl(217, 71%, 53%, .5);
    border-color: hsl(217, 71%, 53%, .5);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

/* Miami */
.miami-tile:hover .miami {
    opacity: 0.3;
}

.miami-tile:hover .miami-caption {
    opacity: 1;
}

.miami {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.miami-caption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.miami-text {
    color: white;
    background-color: hsl(348, 100%, 61%, .5);
    border-color: hsl(348, 100%, 61%, .5);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

/* Chicago */
.chicago-tile:hover .chicago {
    opacity: 0.3;
}

.chicago-tile:hover .chicago-caption {
    opacity: 1;
}

.chicago {
    opacity: 1;
    display: block;
    width: 90%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.chicago-caption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.chicago-text {
    color: white;
    background-color: hsl(48, 100%, 67%, .5);
    border-color: hsl(48, 100%, 67%, .5);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.titleHeader{
    background: rgb(58,58,232);
    background: linear-gradient(90deg, rgba(58,58,232,1) 23%, rgba(0,212,255,1) 100%);
}

.miamiCard{
    background-color: #69d677
}

.imgRound{
    border-radius: 8px;
}

.houstonCard{
    background-color: orange;
}

.footer {
    background-color: rgb(210, 218, 221);
    border-top: 2px solid darkgray;
}