.columns {
    background-color: rgb(223, 232, 236);
}

.col4 {
    background-color: azure;
}

.hotels {
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 5rem;
}

.learnMore{
    display: none;
}
