body {
    background-color: white;
}

.columns {
    background-color: rgb(223, 232, 236);
    margin-top: 0px;
    margin-bottom: 0px;
}

.loading {
    margin-top: 5rem;
    border-radius: 10px;
}

.col4 {
    background-color: white;
}

.hotels {
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 5rem;
}

.learnMore{
    display: none;
}

.footer {
    margin-top: 5rem;
    background-color: rgb(210, 218, 221);
    border-top: 2px solid darkgray;
    display: none;
}