body {
    background-color: white;
}

.columns {
    background-color: #4879c7;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.loading {
    margin-top: 15rem;
    border-radius: 10px;
}

.col4 {
    background-color: white;
}

.searchBox {
    border-radius: 5px;
    font-weight: bold;
}

.hotels {
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 5rem;
}

.price {
    color: green;
}

#container{
    background-color: white;
}

.learnMore{
    display: none;
}

.footer {
    margin-top: 5rem;
    background-color: rgb(210, 218, 221);
    border-top: 2px solid darkgray;
    display: none;
}