html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

#navbar-logo {
    padding-top: 0px;
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.beach-div {
    position: relative;
    background-image: url("beach.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.on-img {
    background-color: rgb(152, 206, 231, .95);
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 20rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(209, 221, 238);
    border-radius: 5px;
}

.logo-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-header {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(0, 0, 175);
    font-weight: bolder;
    margin-bottom: 10px;
}

.searchBox {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

.price {
    margin-top:30px;
}
.align {
    text-align: center;
}
.date-input {
    margin-left: 3rem;
}

.sbt-btn {
    margin-top: 10px;
}

main {
    background-color: rgb(223, 232, 236);
}

.holder {
    padding: 2rem;
}

.airlines {
    margin: 50px;
}

.feature-desc {
    font-family: 'Architects Daughter', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Kalam', cursive;
}

.ny-tile:hover .new-york {
    opacity: 0.3;
}

.ny-tile:hover .ny-caption {
    opacity: 1;
}

.new-york {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.ny-caption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.ny-text {
    color: white;
    background-color: hsl(171, 100%, 41%, .5);
    border-color: hsl(171, 100%, 41%, .5);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}
  
.sf-tile:hover .san-f {
    opacity: 0.3;
}

.sf-tile:hover .sf-caption {
    opacity: 1;
}

.san-f {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.sf-caption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.sf-text {
    color: white;
    background-color: hsl(217, 71%, 53%, .5);
    border-color: hsl(217, 71%, 53%, .5);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.new-o-tile:hover .new-orleans {
    opacity: 0.3;
}

.new-o-tile:hover .new-o-caption {
    opacity: 1;
}

.new-orleans {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.new-o-caption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.new-o-text {
    color: white;
    background-color: hsl(348, 100%, 61%, .5);
    border-color: hsl(348, 100%, 61%, .5);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.seatle-tile:hover .seatle {
    opacity: 0.3;
}

.seatle-tile:hover .seatle-caption {
    opacity: 1;
}

.seatle {
    opacity: 1;
    display: block;
    width: 90%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.seatle-caption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.seatle-text {
    color: white;
    background-color: hsl(48, 100%, 67%, .5);
    border-color: hsl(48, 100%, 67%, .5);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.footer {
    background-color: rgb(210, 218, 221);
    border-top: 2px solid darkgray;
}

